@CHARSET "UTF-8";
body{background:#DCDCDC;}
#content {
	width: 750px;
	margin: 0 auto;
	background:#fff;
	margin-bottom: 25px;
	padding: 10px;
	text-align:justify;
	margin-top: 40px;
	-moz-border-radius:15px 15px 15px 15px;
}
.criar{
	text-align: center;
	margin-top: 7px; 
	
}